.ui-menu {
    overflow: hidden;
}

.ui-menu .ui-menu {
    overflow: visible !important;
}

.ui-menu > li {
    float: left;
    display: block;
    width: auto !important;
}

.ui-menu ul li {
    display: block;
    float: none;
}

.ui-menu ul li ul {
    left:120px !important;
    width:100%;
}

.ui-menu ul li ul li {
    width:auto;
}

.ui-menu ul li ul li a {
    float:left;
}

.ui-menu > li {
    margin: 5px 5px !important;
    padding: 0 0 !important;
}

.ui-menu > li > a {
    float: left;
    display: block;
    clear: both;
    overflow: hidden;
}

.ui-menu .ui-menu-icon {
    margin-top: 0.3em !important;
}

.ui-menu .ui-menu .ui-menu li {
    float: left;
    display: block;
}

#navigator {
    position:relative;
}

#menu {
    overflow : hidden;
}

#menu > li {
    float : left;
}

#menu .ui-menu {
    width : 114px;
}

.connection {
    border:3px solid #051;
    opacity: 0.5;
    z-index:1;
    border-radius:100%;
    pointer-events:none;
}

#drawConnectionHelper {
    position: absolute;
    text-indent: -9999px;
    width: 0px;
    height: 0px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #051;
}

.layer_box {
    border: 4px solid #051;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
    width: 70px;
    height: 50px;
    padding: 5px 5px 5px 0px;
    cursor: pointer;
}

.layer_box span {
    position: absolute;
    width:100%;
    bottom: 0px;
    text-align:center;
    font-size: 22px;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.layer_box input[type=button]{
    position: absolute;
    top: 5px;
    left: 40%;
    font-weight: bold;
    font-size: 16px;
}

.layer_box center{
    font-size: 22px;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
